.posts-container {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
}

.post-card-wrapper {
  margin-bottom: 16px;
  cursor: pointer;
}

.loader-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
